@page "/"
@using Question_2.Components  

<h1>Quiz Management Application</h1><n></n>

<p1>What is the capital of France?</p1><n></n>

<p1>Which planet is known as the Red Planet</p1><n>

<p1>What is the largest mammal in the world?</p1></n>

<component.razor />  
